{# templates/company/presentation.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Présentation de Coccimarket{% endblock %}

{% block body %}
    <div class="container">
        <h1>Présentation de Coccimarket</h1>
        <p>Bienvenue sur la page de présentation de Coccimarket.</p>
        <p>Coccimarket est une chaîne de magasins d'alimentation générale présente dans de nombreuses villes.</p>
        <p>Nous offrons une large gamme de produits alimentaires et non alimentaires, ainsi que des services de proximité.</p>
        <p>Nos magasins sont connus pour leur convivialité, leur qualité de service et leurs produits frais.</p>
        
        <h2>Image de Coccimarket</h2>
        <img src="/uploads/face.png" alt="Image de Coccimarket">
    </div>
{% endblock %}
