{% extends 'base.html.twig' %}

{% block title %}Présentation de l'entreprise{% endblock %}

{% block body %}
    <div class="container">
        <h1>Présentation de notre entreprise</h1>
        <p>Bienvenue sur la page de présentation de notre entreprise.</p>
        <p>Nous sommes une entreprise spécialisée dans [description de votre domaine d'activité].</p>
        <p>Nous offrons des services de [liste de services offerts par votre entreprise].</p>
        <p>Nos valeurs sont [liste des valeurs de votre entreprise].</p>
        <p>Pour en savoir plus sur notre entreprise, n'hésitez pas à nous contacter.</p>
    </div>
{% endblock %}
